<div class="container">
  <h1>Check out all the available flats</h1>

  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= flat.name %>
      </div>
    <% end %>
  </div>

</div>
