<% if @flat.photo.blank? %>

  <div class="banner" style="background-color: #46cdcf">
  </div>

<% else %>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @flat.photo.key %>');">
  </div>

<% end %>

<div class="container">
  <div class="flat">
    <div class="flat-info">
      <div class="flat-info-header">
        <div class="flat-info-header-title">
          <h2><%= @flat.name %></h2>
          <p class="city"><%= @flat.city %></p>
        </div>
        <div class="flat-info-header-avatar">

        </div>
      </div>
      <p><i class="fas fa-user-friends"></i> <%= @flat.max_guests %> guests</p>
      <hr>
    </div>
    <div class="flat-booking border-1 rounded">test</div>
  </div>
</div>
