.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.generic-flat{
  background-color: #46CDCF;
  width: 120px;
  height: 120px;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

.card-booking-status{
  margin-left: auto;
  text-align: center;
  margin-right: 30px;
  p{
    margin: 10px;
  }
}

#status-confirmed{
  color: #61B329;
  font-weight: bold;
}

#status-declined{
  color: red;
  font-weight: bold;
}

#status-pending{
  color: #FFA500;
  font-weight: bold;
}

.host-section{
  margin-top: 30px;
}

.card-booking-status-guest{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
  p{
    margin: 10px;
  }
}

.card-guest-status{
  display: flex;
  align-items: center;
  text-align: center;
  p{
    margin: 10px;
  }
  .status{
    opacity: 0.3;
    &:hover{
      opacity: 1;
    }
  }
  .status-active{
    opacity: 1;
  }
}

.no-deco:hover{
  text-decoration: none;
}

