#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards {
  flex-grow: 1;
}

.card-category {
  background-color: #46cdcf;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-decoration{
  color: white;
  text-decoration: none;
    &:hover{
    color: white;
    text-decoration: none;
  }
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards-query {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
  .cards-query {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
  .cards-query {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
  .cards-query {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards-query {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards-query {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
