.far.fa-clock {
  font-size: 30px;
  color: #FFA500;
}

.far.fa-times-circle{
  font-size: 30px;
  color: red;
}

.far.fa-check-circle{
  font-size: 30px;
  color: #61B329;
}

.fas.fa-star{
  color: #FFBF00;
}

.far.fa-star{
  color: #FFBF00;
}
